body {
	background-color: #FEDBF0;
	font-family: sans-serif;
	font-size: 1.2em;
	min-height: 89vh;
}

.chat {
	background-color: white;
	border-radius: .8em;	
	min-height: 24em;
}

p {
	text-align: center;
}

footer {
	font-size: 0.8em;
	text-align: center;	
	position: fixed;
	bottom: 1em;
	width: 100%;
}	

.button {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
    padding: .5em 1em;
    display: inline;
    background-color: #2c6da0;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    /* text-shadow: 1px 1px #666; */
	font-size: 125%; 
	padding: 7px 12px;
 }

.button:hover {
	background-position: 0 -35px;
}
.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 8px 12px 6px;
}
